## Metadata
title: Operator Framework Bash Example
description: A simple Operator Framework example written in Bash that makes use of POSIX Named Pipes for IPC request IO
copyright: (c) 2022 Socket Supply Co.
version: v0.0.1
version_short: 0.0.1

## Bundle output
bundle_identifier: com.op-bash
bundle_identifier_short: op-bash

## Build output
name: op-bash
executable: op-bash
build: build.sh
output: build

## Compiler
flags: -O1
debug_flags: -g -O3

## Window
forward_console: true
height: 750
width: 1024

## Runtime
linux_cmd: main.sh
mac_cmd: main.sh
win_cmd: main.sh
