
#   ___  ___  ___ ___  ___ ____ ___  ___    ___  ___  ___        ___       ___  ___
#  /  / /__/ /__ /__/ /__/  /  /  / /__/   /__  /__/ /__/ /\/\  /__ /   / /  / /__/ /_/
# /__/ /    /__ /  \ /  /  /  /__/ /  \   /    /  \ /  / /   / /__  \/\/ /__/ /  \ / \
#
# Default configuration file 0.1.0. Delete what you don't need.
#

# This is made available for cross-compiling. It specifies the target
# architecture, by default it detects the machine on which the cli is
# executing.
# arch: x86_64

# Shell command to build an application.
build: build.sh

# A unique ID that identifies the bundle (used by all app stores).
bundle_identifier: com.opfifo

# A unique ID that identifies the bundle (used by all app stores).
bundle_identifier_short: opfifo

# A string that gets used in the about dialog and package meta info.
copyright: (c) Beep Boop Corp. 1985

# Advanced Compiler Settings for debug purposes (ie C++ compiler -g, etc).
debug_flags: -g -O3

# A short description of the app
description: bash demo with fifo ipc

# An array of environment variables, separated by commas
# env: USER, TMPDIR, PWD

# The name of the product (ie Beep or Boop).
executable: opfifo

# Advanced Compiler Settings (ie C++ compiler -02, -03, etc).
flags: -O1

# A boolean that determines if stdout and stderr should get forwarded
forward_console: true

# The initial height of the first window.
height: 750

# The name of the program
name: opfifo

# The binary output path
output: build

# The initial title of the window (can have spaces and symbols etc).
title: opfifo

# A string that indicates the version of the cli tool and resources.
version: v0.0.1

# A string that indicates the version for MacOS.
version_short: 0.0.1

# The initial width of the first window.
width: 1024

linux_cmd: main.sh
mac_cmd: main.sh
